@{
    ViewData["Title"] = "Home Page";

}
<div class="row">
    <div class="col-md-12">
        <div class="col-md-4 float-left">
            <ul class="list-group">
                <li class="list-group-item text-muted">DASHBOARD</li>
                <li class="list-group-item"><input type="search" placeholder="Search" class="form-inline form-control" /></li>

                <li class="list-group-item">Movies</li>
                <li class="list-group-item">Screenings</li>
                <li class="list-group-item">Booked</li>
            </ul>
        </div>
        <div class="col-md-8 float-right">
            <h3>List of movies</h3>
        </div>
    </div>
</div>
